<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system .webServer>
        <security>
            <authentication>
                <basicauthentication enabled="false"></basicauthentication>
            </authentication>
        </security>
        <httpprotocol>
            <customheaders>
                <clear></clear>
                <add name="X-Powered-By" value="ASP.NET"></add>
            </customheaders>
        </httpprotocol>
        <directorybrowse enabled="false"></directorybrowse>
        <defaultdocument>
            <files>
                <clear></clear>
                <add value="Default.htm"></add>
                <add value="Default.asp"></add>
                <add value="index.asp"></add>
                <add value="index.htm"></add>
                <add value="index.html"></add>
                <add value="index.php"></add>
                <add value="Default.aspx"></add>
            </files>
        </defaultdocument>
    </system>
</configuration>
